
<!DOCTYPE html>
<html lang="en">
<head>
<title>Herci Maciel - Belly dance</title>
<meta charset="utf-8">
<meta property="og:image" content="images/her3.jpg">

<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<script type="text/javascript" src="js/main.js"></script>

<!--[if lt IE 8]>
		<div style=' clear: both; text-align:center; position: relative;z-index:100;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a>
		</div>
	<![endif]-->

</head>
<body>
<div class="spinner"></div>



<div class="extra">

<div class="main1"></div>






<div class="main2">
    
<div class="grad1"></div>

<div class="kv0"></div>

<div class="kv1">

<div class="hl">
  <div class="hl1"></div>
  <div class="hl2"></div>
</div>  

</div>

<div class="kv2">
<a href="#!/page_SPLASH" class="close"><span></span></a>
<!--content -->
<article id="content">

  <ul>
          
    <li id="page_SPLASH"></li>
    
    <!-- ============ PAGE HOME ============= -->
    <li id="page_HOME">
    <div class="box">
    <div class="scroll-pane"><div>
      
      <h2>Welcome to Belly Dance School</h2>

      <p class="text">
        Conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit.
      </p>

      <div class="clear text"></div>

      <img src="images/home01.jpg" alt="" class="left border1 img1">
      <div class="table">
        <strong class="text color1">
          Lorem ipsum dolor sit amet.
        </strong>
        <p class="text">
          Conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut.
        </p>
        <a href="#!/page_MORE" class="button1"><span class="s_left"></span><span class="s_txt">read more</span><span class="s_right"></span></a>            
      </div>
      <div class="clear"></div>

      <h3>Latest News & Events</h3>

      <div class="date1">25 of December, 2013</div>
      <p>
        Conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit., sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
      </p>

      <div class="line1"></div>

      <div class="date1">30 of March, 2013</div>
      <p>
        Conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit., sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
      </p>

      <div class="line1"></div>

      <div class="date1">25 of December, 2013</div>
      <p>
        Conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit., sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
      </p>

      <div class="line1"></div>

      <div class="date1">30 of March, 2013</div>
      <p>
        Conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing elit., sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
      </p>

      

    </div></div>
    </div>
    </li>
    <!-- ============ PAGE HOME END ============= -->

    <!-- ============ PAGE ABOUT ============= -->
    <li id="page_ABOUT">
    <div class="box">
    <div class="scroll-pane"><div>
      
      <h2>About Us</h2>

      
      <strong class="text color1">
        Lorem ipsum dolor sit amet. Conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Ipsum dolor sit amet conse ctetur adipisicing 
      </strong>
      <p class="text">
        Seed do eiusmod tempor incididunt ut. labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. ex ea commodo consequat consectetuer adipiscing elit. 
      </p>
      <a href="#!/page_MORE" class="button1"><span class="s_left"></span><span class="s_txt">read more</span><span class="s_right"></span></a> 



      <h3>Our Teachers</h3>

      <div class="about1">
        <img src="images/about01.jpg" alt="" class="img">
        <strong class="text color1">
          Kate Smith
        </strong>
        <p>
          Seed do eiusmod tempor incididunt ut. labore et 
        </p>
      </div>
      <div class="about1">
        <img src="images/about02.jpg" alt="" class="img">
        <strong class="text color1">
          Jule Johnson
        </strong>
        <p>
          Seed do eiusmod tempor incididunt ut. labore et 
        </p>
      </div>
      <div class="about1 last">
        <img src="images/about03.jpg" alt="" class="img">
        <strong class="text color1">
          April Wardon
        </strong>
        <p>
          Seed do eiusmod tempor incididunt ut. labore et 
        </p>
      </div>
      <div class="clear"></div>

      <div class="about1">
        <img src="images/about04.jpg" alt="" class="img">
        <strong class="text color1">
          Kate Smith
        </strong>
        <p>
          Seed do eiusmod tempor incididunt ut. labore et 
        </p>
      </div>
      <div class="about1">
        <img src="images/about05.jpg" alt="" class="img">
        <strong class="text color1">
          Kate Smith
        </strong>
        <p>
          Seed do eiusmod tempor incididunt ut. labore et 
        </p>
      </div>
      <div class="about1 last">
        <img src="images/about06.jpg" alt="" class="img">
        <strong class="text color1">
          Kate Smith
        </strong>
        <p>
          Seed do eiusmod tempor incididunt ut. labore et 
        </p>
      </div>
      <div class="clear"></div>

      

    </div></div>
    </div>
    </li>
    <!-- ============ PAGE ABOUT END ============= -->

    <!-- ============ PAGE SERVICES ============= -->
    <li id="page_SERVICES">
    <div class="box">
    <div class="scroll-pane"><div>
      
      <h2>Services List</h2>

      <div class="services1">
        <ul class="ul1">
          <li><a href="#">Duis in sapien eu risus euismod</a></li>
          <li><a href="#">Euis nostrud exercamco</a></li>
          <li><a href="#">Laboris nisi ut aliqmodo</a></li>
          <li><a href="#">Adipiscing elit. Nunc suscipit.</a></li>
        </ul>
      </div>
      <div class="services1 last">
        <ul class="ul1">
          <li><a href="#">Duis in sapien eu risus euismod</a></li>
          <li><a href="#">Euis nostrud exercamco</a></li>
          <li><a href="#">Laboris nisi ut aliqmodo</a></li>
          <li><a href="#">Adipiscing elit. Nunc suscipit.</a></li>
        </ul>
      </div>
      <div class="clear"></div>

      
      
      <a href="#!/page_MORE" class="button1"><span class="s_left"></span><span class="s_txt">read more</span><span class="s_right"></span></a> 



      <h3>Services Overview</h3>

      <div class="services2">
        <img src="images/services01.jpg" alt="" class="img">
        <div class="table">
          <strong class="text color1">
            Seed do eiusmod tempor incididunt labore  ut. 
          </strong>
          <p>
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
          </p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="services2 last">
        <img src="images/services02.jpg" alt="" class="img">
        <div class="table">
          <strong class="text color1">
            Seed do eiusmod tempor incididunt labore  ut. 
          </strong>
          <p>
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
          </p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>

      <div class="services2">
        <img src="images/services03.jpg" alt="" class="img">
        <div class="table">
          <strong class="text color1">
            Seed do eiusmod tempor incididunt labore  ut. 
          </strong>
          <p>
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
          </p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="services2 last">
        <img src="images/services04.jpg" alt="" class="img">
        <div class="table">
          <strong class="text color1">
            Seed do eiusmod tempor incididunt labore  ut. 
          </strong>
          <p>
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
          </p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>

      

    </div></div>
    </div>
    </li>
    <!-- ============ PAGE SERVICES END ============= -->

    <!-- ============ PAGE CLASSES ============= -->
    <li id="page_CLASSES">
    <div class="box">
    <div class="scroll-pane"><div>
      
      <h2>Classes Overview</h2>

      <div class="classes1">
        <img src="images/classes01.jpg" alt="" class="img">
        <div class="table">
          <strong class="text color1">
            Seed do eiusmod tempor incididunt ut. labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          </strong>
          <p>
            exercitation ullamco labori   aliquip. ex ea commodo consequat consectetuer adipiscing elit. Nunc suscipit. Suspendisse enim arcu, convallis non, cursus sed, dignissim et, est. Aenean semper aliquet libero. <a href="#">more</a>  
          </p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="classes1">
        <img src="images/classes02.jpg" alt="" class="img">
        <div class="table">
          <strong class="text color1">
            Seed do eiusmod tempor incididunt ut. labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          </strong>
          <p>
            exercitation ullamco labori   aliquip. ex ea commodo consequat consectetuer adipiscing elit. Nunc suscipit. Suspendisse enim arcu, convallis non, cursus sed, dignissim et, est. Aenean semper aliquet libero. <a href="#">more</a>  
          </p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="classes1">
        <img src="images/classes03.jpg" alt="" class="img">
        <div class="table">
          <strong class="text color1">
            Seed do eiusmod tempor incididunt ut. labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          </strong>
          <p>
            exercitation ullamco labori   aliquip. ex ea commodo consequat consectetuer adipiscing elit. Nunc suscipit. Suspendisse enim arcu, convallis non, cursus sed, dignissim et, est. Aenean semper aliquet libero. <a href="#">more</a>  
          </p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="classes1">
        <img src="images/classes04.jpg" alt="" class="img">
        <div class="table">
          <strong class="text color1">
            Seed do eiusmod tempor incididunt ut. labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          </strong>
          <p>
            exercitation ullamco labori   aliquip. ex ea commodo consequat consectetuer adipiscing elit. Nunc suscipit. Suspendisse enim arcu, convallis non, cursus sed, dignissim et, est. Aenean semper aliquet libero. <a href="#">more</a>  
          </p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="classes1">
        <img src="images/classes05.jpg" alt="" class="img">
        <div class="table">
          <strong class="text color1">
            Seed do eiusmod tempor incididunt ut. labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          </strong>
          <p>
            exercitation ullamco labori   aliquip. ex ea commodo consequat consectetuer adipiscing elit. Nunc suscipit. Suspendisse enim arcu, convallis non, cursus sed, dignissim et, est. Aenean semper aliquet libero. <a href="#">more</a>  
          </p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="classes1">
        <img src="images/classes06.jpg" alt="" class="img">
        <div class="table">
          <strong class="text color1">
            Seed do eiusmod tempor incididunt ut. labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          </strong>
          <p>
            exercitation ullamco labori   aliquip. ex ea commodo consequat consectetuer adipiscing elit. Nunc suscipit. Suspendisse enim arcu, convallis non, cursus sed, dignissim et, est. Aenean semper aliquet libero. <a href="#">more</a>  
          </p>
        </div>
        <div class="clear"></div>
      </div>

      

    </div></div>
    </div>
    </li>
    <!-- ============ PAGE CLASSES END ============= -->

    <!-- ============ PAGE GALLERY ============= -->
    <li id="page_GALLERY">
    <div class="box">
    <div class="scroll-pane"><div>
      
      <h2>Photo</h2>

      <div class="gal1">
        <div class="photo1"><a href="images/gallery01_big.jpg" rel="prettyPhoto[pp_gal1]" title="Photo Title"><img src="images/gallery01.jpg"></a></div>
        <p class="txt">Exercitation ullamco labori   aliquip. ex ea commodo consequat consectetuer</p>
      </div>
      <div class="gal1 last">
        <div class="photo1"><a href="images/gallery02_big.jpg" rel="prettyPhoto[pp_gal1]" title="Photo Title"><img src="images/gallery02.jpg"></a></div>
        <p class="txt">Exercitation ullamco labori   aliquip. ex ea commodo consequat consectetuer</p>
      </div>
      <div class="clear"></div>

      <div class="gal1">
        <div class="photo1"><a href="images/gallery03_big.jpg" rel="prettyPhoto[pp_gal1]" title="Photo Title"><img src="images/gallery03.jpg"></a></div>
        <p class="txt">Exercitation ullamco labori   aliquip. ex ea commodo consequat consectetuer</p>
      </div>
      <div class="gal1 last">
        <div class="photo1"><a href="images/gallery04_big.jpg" rel="prettyPhoto[pp_gal1]" title="Photo Title"><img src="images/gallery04.jpg"></a></div>
        <p class="txt">Exercitation ullamco labori   aliquip. ex ea commodo consequat consectetuer</p>
      </div>
      <div class="clear"></div>

      <div class="gal1">
        <div class="photo1"><a href="images/gallery05_big.jpg" rel="prettyPhoto[pp_gal1]" title="Photo Title"><img src="images/gallery05.jpg"></a></div>
        <p class="txt">Exercitation ullamco labori   aliquip. ex ea commodo consequat consectetuer</p>
      </div>
      <div class="gal1 last">
        <div class="photo1"><a href="images/gallery06_big.jpg" rel="prettyPhoto[pp_gal1]" title="Photo Title"><img src="images/gallery06.jpg"></a></div>
        <p class="txt">Exercitation ullamco labori   aliquip. ex ea commodo consequat consectetuer</p>
      </div>
      <div class="clear"></div>

      <div class="gal1">
        <div class="photo1"><a href="images/gallery07_big.jpg" rel="prettyPhoto[pp_gal1]" title="Photo Title"><img src="images/gallery07.jpg"></a></div>
        <p class="txt">Exercitation ullamco labori   aliquip. ex ea commodo consequat consectetuer</p>
      </div>
      <div class="gal1 last">
        <div class="photo1"><a href="images/gallery08_big.jpg" rel="prettyPhoto[pp_gal1]" title="Photo Title"><img src="images/gallery08.jpg"></a></div>
        <p class="txt">Exercitation ullamco labori   aliquip. ex ea commodo consequat consectetuer</p>
      </div>
      <div class="clear"></div>

      

    </div></div>
    </div>
    </li>
    <!-- ============ PAGE GALLERY END ============= -->

    <!-- ============ PAGE VIDEO ============= -->
    <li id="page_VIDEO">
    <div class="box">
    <div class="scroll-pane"><div>
      
      <h2>Video</h2>

      <div class="vid1">
        <div class="video1"><a href="http://www.youtube.com/watch?v=kh29_SERH0Y?rel=0" rel="prettyPhoto[mixed]" title="YouTube Demo"><img src="images/video01.jpg"></a></div>
        <div class="table">
          <strong class="text">
            Exercitation ullamco labori   aliquip. ex ea  
          </strong>
          <p>
            consequat consectetuer adipiscing elit. Nunc suscipit. Suspendisse enim arcu, convallis non, cursus sed, dignissim et, est. Aenean semper aliquet libero. <a href="#">more</a>
          </p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="vid1">
        <div class="video1"><a href="http://vimeo.com/7874398&width=700" rel="prettyPhoto[mixed]" title="Vimeo Demo"><img src="images/video02.jpg"></a></div>
        <div class="table">
          <strong class="text">
            Exercitation ullamco labori   aliquip. ex ea  
          </strong>
          <p>
            consequat consectetuer adipiscing elit. Nunc suscipit. Suspendisse enim arcu, convallis non, cursus sed, dignissim et, est. Aenean semper aliquet libero. <a href="#">more</a>
          </p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="vid1">
        <div class="video1"><a href="http://www.youtube.com/watch?v=kh29_SERH0Y?rel=0" rel="prettyPhoto[mixed]" title="YouTube Demo"><img src="images/video03.jpg"></a></div>
        <div class="table">
          <strong class="text">
            Exercitation ullamco labori   aliquip. ex ea  
          </strong>
          <p>
            consequat consectetuer adipiscing elit. Nunc suscipit. Suspendisse enim arcu, convallis non, cursus sed, dignissim et, est. Aenean semper aliquet libero. <a href="#">more</a>
          </p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="vid1">
        <div class="video1"><a href="http://vimeo.com/7874398&width=700" rel="prettyPhoto[mixed]" title="Vimeo Demo"><img src="images/video04.jpg"></a></div>
        <div class="table">
          <strong class="text">
            Exercitation ullamco labori   aliquip. ex ea  
          </strong>
          <p>
            consequat consectetuer adipiscing elit. Nunc suscipit. Suspendisse enim arcu, convallis non, cursus sed, dignissim et, est. Aenean semper aliquet libero. <a href="#">more</a>
          </p>
        </div>
        <div class="clear"></div>
      </div>

      

    </div></div>
    </div>
    </li>
    <!-- ============ PAGE VIDEO END ============= -->

    <!-- ============ PAGE CONTACTS ============= -->
    <li id="page_CONTACTS">
    <div class="box">

      <h2>Contact Address</h2>

      <figure class="google_map"></figure>

      <div class="table">
        <strong class="text color1">
          Belly Dance
        </strong>
        <p class="text">
          8901 Marmora Road,<br>
Glasgow, D04 89GR.<br>
Telephone: +1 800 123 1234<br>
E-mail: <a href="#">mail@bteamny.com</a>
        </p>
      </div>
      <div class="clear"></div>

      <h3>Contact Form</h3>

      <div class="cform">
        <div id="note"></div>
          <div id="fields">
            <form id="ajax-contact-form" action="javascript:alert('success!');">
            
            <div class="left">
              <div class="clear"></div>
            
              <INPUT type="text" name="name" value="Your full name:" onBlur="if(this.value=='') this.value='Your full name:'" 
                        onFocus="if(this.value =='Your full name:' ) this.value=''">
              <div class="clear"></div>
              
              <INPUT type="text" name="email" value="Your email:" onBlur="if(this.value=='') this.value='Your email:'" 
                        onFocus="if(this.value =='Your email:' ) this.value=''">
              <div class="clear"></div>
              
              <INPUT type="text" name="phone" value="Phone number:" onBlur="if(this.value=='') this.value='Phone number:'" 
                        onFocus="if(this.value =='Phone number:' ) this.value=''">
              <div class="clear"></div>
              <div class="capthca_none">
              <INPUT class="capthca" type="text" name="capthca" value="Capthca:" onBlur="if(this.value=='') this.value='Capthca:'" 
                        onFocus="if(this.value =='Capthca:' ) this.value=''">
                        <img src="captcha/captcha.php">
              <div class="clear"></div> 
              
              </div>
            </div>
            
            <div class="left pad_left1">
              <div class="clear"></div>
              <TEXTAREA NAME="content" onBlur="if(this.value=='') this.value='Message:'" 
                      onFocus="if(this.value =='Message:' ) this.value=''">Message:</TEXTAREA>
              <div class="clear"></div>
              <INPUT class="submit" type="submit" name="submit" value="submit">
              <div class="clear"></div>
              
              
              <div class="clear"></div>
            </div>
            <div class="clear"></div>                                             
            
            
            </form>
          </div>
      </div>
    
    </div>
    </li>
    <!-- ============ PAGE CONTACTS END ============= -->

    <!-- ============ PAGE PRIVACY ============= -->
    <li id="page_PRIVACY">
    <div class="box">
    <div class="scroll-pane"><div>
      
      <h2>Privacy Policy</h2>

      <strong class="text color1">
        Suspendisse potenti. Vivamus sed tellus. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean lectus. Integer cursus massa quis justo. Vivamus ullamcorper semper dui. Morbi metus purus, ultrices a, porttitor eget, mattis ut, lectus. Vestibulum viverra. Sed id neque. Sed orci. Pellentesque vitae neque id enim eleifend vehicula. Integer pulvinar nisl vitae wisi. 
      </strong>
      <p class="text">
        Nulla pharetra dignissim enim. Nam cursus eros ut massa. Proin rutrum. Donec non urna non leo aliquam cursus. Vivamus ornare viverra lacus. Fusce id sapien. Donec rhoncus, enim sit amet sodales elementum, elit odio sagittis erat, at tincidunt leo neque non pede. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ac leo. Aliquam magna nibh, tincidunt ut, lobortis feugiat, consectetuer sed, sapien. Aenean dui eros, tempus non, pulvinar in, vestibulum sed, urna. Nullam eget arcu a pede adipiscing vestibulum. Donec accumsan lacus nec dolor. Etiam porttitor elit. Quisque suscipit, arcu id porttitor vehicula, sem eros congue nulla, id consequat massa diam at dui. Quisque quis massa. Suspendisse metus justo, pellentesque et, sagittis sit amet, consectetuer imperdiet, sapien. Nullam eu neque eget risus porttitor accumsan. Vivamus cursus pretium tortor. 
      </p>
      <p class="text">
        Nulla pharetra dignissim enim. Nam cursus eros ut massa. Proin rutrum. Donec non urna non leo aliquam cursus. Vivamus ornare viverra lacus. Fusce id sapien. Donec rhoncus, enim sit amet sodales elementum, elit odio sagittis erat, at tincidunt leo neque non pede. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ac leo. Aliquam magna nibh, tincidunt ut, lobortis feugiat, consectetuer sed, sapien. Aenean dui eros, tempus non, pulvinar in, vestibulum sed, urna. Nullam eget arcu a pede adipiscing vestibulum. Donec accumsan lacus nec dolor. Etiam porttitor elit. Quisque suscipit, arcu id porttitor vehicula, sem eros congue nulla, id consequat massa diam at dui. Quisque quis massa. Suspendisse metus justo, pellentesque et, sagittis sit amet, consectetuer imperdiet, sapien. Nullam eu neque eget risus porttitor accumsan. Vivamus cursus pretium tortor. 
      </p>
      <p class="text">
        Nulla pharetra dignissim enim. Nam cursus eros ut massa. Proin rutrum. Donec non urna non leo aliquam cursus. Vivamus ornare viverra lacus. Fusce id sapien. Donec rhoncus, enim sit amet sodales elementum, elit odio sagittis erat, at tincidunt leo neque non pede. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ac leo. Aliquam magna nibh, tincidunt ut, lobortis feugiat, consectetuer sed, sapien. Aenean dui eros, tempus non, pulvinar in, vestibulum sed, urna. Nullam eget arcu a pede adipiscing vestibulum. Donec accumsan lacus nec dolor. Etiam porttitor elit. Quisque suscipit, arcu id porttitor vehicula, sem eros congue nulla, id consequat massa diam at dui. Quisque quis massa. Suspendisse metus justo, pellentesque et, sagittis sit amet, consectetuer imperdiet, sapien. Nullam eu neque eget risus porttitor accumsan. Vivamus cursus pretium tortor. 
      </p>
      <p class="text">
        Nulla pharetra dignissim enim. Nam cursus eros ut massa. Proin rutrum. Donec non urna non leo aliquam cursus. Vivamus ornare viverra lacus. Fusce id sapien. Donec rhoncus, enim sit amet sodales elementum, elit odio sagittis erat, at tincidunt leo neque non pede. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ac leo. Aliquam magna nibh, tincidunt ut, lobortis feugiat, consectetuer sed, sapien. Aenean dui eros, tempus non, pulvinar in, vestibulum sed, urna. Nullam eget arcu a pede adipiscing vestibulum. Donec accumsan lacus nec dolor. Etiam porttitor elit. Quisque suscipit, arcu id porttitor vehicula, sem eros congue nulla, id consequat massa diam at dui. Quisque quis massa. Suspendisse metus justo, pellentesque et, sagittis sit amet, consectetuer imperdiet, sapien. Nullam eu neque eget risus porttitor accumsan. Vivamus cursus pretium tortor. 
      </p>
      <p class="text">
        Nulla pharetra dignissim enim. Nam cursus eros ut massa. Proin rutrum. Donec non urna non leo aliquam cursus. Vivamus ornare viverra lacus. Fusce id sapien. Donec rhoncus, enim sit amet sodales elementum, elit odio sagittis erat, at tincidunt leo neque non pede. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ac leo. Aliquam magna nibh, tincidunt ut, lobortis feugiat, consectetuer sed, sapien. Aenean dui eros, tempus non, pulvinar in, vestibulum sed, urna. Nullam eget arcu a pede adipiscing vestibulum. Donec accumsan lacus nec dolor. Etiam porttitor elit. Quisque suscipit, arcu id porttitor vehicula, sem eros congue nulla, id consequat massa diam at dui. Quisque quis massa. Suspendisse metus justo, pellentesque et, sagittis sit amet, consectetuer imperdiet, sapien. Nullam eu neque eget risus porttitor accumsan. Vivamus cursus pretium tortor. 
      </p>

      

    </div></div>
    </div>
    </li>
    <!-- ============ PAGE PRIVACY END ============= -->

    <!-- ============ PAGE MORE ============= -->
    <li id="page_MORE">
    <div class="box">
    <div class="scroll-pane"><div>
      
      <h2>More</h2>

      <strong class="text color1">
        Suspendisse potenti. Vivamus sed tellus. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean lectus. Integer cursus massa quis justo. Vivamus ullamcorper semper dui. Morbi metus purus, ultrices a, porttitor eget, mattis ut, lectus. Vestibulum viverra. Sed id neque. Sed orci. Pellentesque vitae neque id enim eleifend vehicula. Integer pulvinar nisl vitae wisi. 
      </strong>
      <p class="text">
        Nulla pharetra dignissim enim. Nam cursus eros ut massa. Proin rutrum. Donec non urna non leo aliquam cursus. Vivamus ornare viverra lacus. Fusce id sapien. Donec rhoncus, enim sit amet sodales elementum, elit odio sagittis erat, at tincidunt leo neque non pede. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ac leo. Aliquam magna nibh, tincidunt ut, lobortis feugiat, consectetuer sed, sapien. Aenean dui eros, tempus non, pulvinar in, vestibulum sed, urna. Nullam eget arcu a pede adipiscing vestibulum. Donec accumsan lacus nec dolor. Etiam porttitor elit. Quisque suscipit, arcu id porttitor vehicula, sem eros congue nulla, id consequat massa diam at dui. Quisque quis massa. Suspendisse metus justo, pellentesque et, sagittis sit amet, consectetuer imperdiet, sapien. Nullam eu neque eget risus porttitor accumsan. Vivamus cursus pretium tortor. 
      </p>
      <p class="text">
        Nulla pharetra dignissim enim. Nam cursus eros ut massa. Proin rutrum. Donec non urna non leo aliquam cursus. Vivamus ornare viverra lacus. Fusce id sapien. Donec rhoncus, enim sit amet sodales elementum, elit odio sagittis erat, at tincidunt leo neque non pede. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ac leo. Aliquam magna nibh, tincidunt ut, lobortis feugiat, consectetuer sed, sapien. Aenean dui eros, tempus non, pulvinar in, vestibulum sed, urna. Nullam eget arcu a pede adipiscing vestibulum. Donec accumsan lacus nec dolor. Etiam porttitor elit. Quisque suscipit, arcu id porttitor vehicula, sem eros congue nulla, id consequat massa diam at dui. Quisque quis massa. Suspendisse metus justo, pellentesque et, sagittis sit amet, consectetuer imperdiet, sapien. Nullam eu neque eget risus porttitor accumsan. Vivamus cursus pretium tortor. 
      </p>
      <p class="text">
        Nulla pharetra dignissim enim. Nam cursus eros ut massa. Proin rutrum. Donec non urna non leo aliquam cursus. Vivamus ornare viverra lacus. Fusce id sapien. Donec rhoncus, enim sit amet sodales elementum, elit odio sagittis erat, at tincidunt leo neque non pede. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ac leo. Aliquam magna nibh, tincidunt ut, lobortis feugiat, consectetuer sed, sapien. Aenean dui eros, tempus non, pulvinar in, vestibulum sed, urna. Nullam eget arcu a pede adipiscing vestibulum. Donec accumsan lacus nec dolor. Etiam porttitor elit. Quisque suscipit, arcu id porttitor vehicula, sem eros congue nulla, id consequat massa diam at dui. Quisque quis massa. Suspendisse metus justo, pellentesque et, sagittis sit amet, consectetuer imperdiet, sapien. Nullam eu neque eget risus porttitor accumsan. Vivamus cursus pretium tortor. 
      </p>
      <p class="text">
        Nulla pharetra dignissim enim. Nam cursus eros ut massa. Proin rutrum. Donec non urna non leo aliquam cursus. Vivamus ornare viverra lacus. Fusce id sapien. Donec rhoncus, enim sit amet sodales elementum, elit odio sagittis erat, at tincidunt leo neque non pede. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ac leo. Aliquam magna nibh, tincidunt ut, lobortis feugiat, consectetuer sed, sapien. Aenean dui eros, tempus non, pulvinar in, vestibulum sed, urna. Nullam eget arcu a pede adipiscing vestibulum. Donec accumsan lacus nec dolor. Etiam porttitor elit. Quisque suscipit, arcu id porttitor vehicula, sem eros congue nulla, id consequat massa diam at dui. Quisque quis massa. Suspendisse metus justo, pellentesque et, sagittis sit amet, consectetuer imperdiet, sapien. Nullam eu neque eget risus porttitor accumsan. Vivamus cursus pretium tortor. 
      </p>
      <p class="text">
        Nulla pharetra dignissim enim. Nam cursus eros ut massa. Proin rutrum. Donec non urna non leo aliquam cursus. Vivamus ornare viverra lacus. Fusce id sapien. Donec rhoncus, enim sit amet sodales elementum, elit odio sagittis erat, at tincidunt leo neque non pede. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ac leo. Aliquam magna nibh, tincidunt ut, lobortis feugiat, consectetuer sed, sapien. Aenean dui eros, tempus non, pulvinar in, vestibulum sed, urna. Nullam eget arcu a pede adipiscing vestibulum. Donec accumsan lacus nec dolor. Etiam porttitor elit. Quisque suscipit, arcu id porttitor vehicula, sem eros congue nulla, id consequat massa diam at dui. Quisque quis massa. Suspendisse metus justo, pellentesque et, sagittis sit amet, consectetuer imperdiet, sapien. Nullam eu neque eget risus porttitor accumsan. Vivamus cursus pretium tortor. 
      </p>

      

    </div></div>
    </div>
    </li>
    <!-- ============ PAGE MORE END ============= -->

    

  </ul>
</article>
<!--content end -->



<div class="splash">
  <div class="slider">
    <a href="#" class="sprev"><span></span></a>
    <a href="#" class="snext"><span></span></a>
    <ul class="items">    
      <li><img src="images/her4.jpg"></li>
      <li><img src="images/her5.jpg"></li>
      <li><img src="images/her3.jpg"></li>         
    </ul>      
  </div>  
</div>  

</div>

<div class="kv3">
  
<header>
  <a href="/" class="logo">    
    <div class="txt1">Hercí Maciel</div>
    <div class="txt2">Bellydance studio</div>
  </a>
</header>

<div class="slogan1">
  Let the Art Transform You<br>Call Us: 111.222.333
</div>

<a href="#!/page_HOME" class="enter"><span class="txt1">Enter Site</span><span class="over1"></span></a>

<nav class="menu">
  <ul id="menu">
    <li><a href="#!/page_HOME"><span class="txt1">Home</span><span class="txt2">Home</span></a></li>
    <li><a href="#!/page_ABOUT"><span class="txt1">About</span><span class="txt2">About</span></a></li>
    <li><a href="#!/page_SERVICES"><span class="txt1">Services</span><span class="txt2">Services</span></a></li>
    <li class="with_ul"><a href="#!/page_CLASSES"><span class="txt1">Classes</span><span class="txt2">Classes</span></a>
      <div class="submenu">
        <ul> 
          <li><a href="#!/page_CLASSES">belly dance</a></li>
          <li><a href="#!/page_MORE">child school</a></li>
          <li><a href="#!/page_MORE">dance class</a></li>                                                 
        </ul>
      </div>
    </li>
    <li><a href="#!/page_GALLERY"><span class="txt1">Photo</span><span class="txt2">Photo</span></a></li>
    <li><a href="#!/page_VIDEO"><span class="txt1">Video</span><span class="txt2">Video</span></a></li>
    <li><a href="#!/page_CONTACTS"><span class="txt1">Contacts</span><span class="txt2">Contacts</span></a></li>

  </ul>
</nav>

</div>

<div class="girl1"></div>

<div class="girl2"></div>

<footer>
<ul class="icons">
    <li><a href="#"><img style="width: 33px;height: 33px;" src="images/instagram_icon.png"></a></li>
    <li><a href="#"><img src="images/social_ic1.png"></a></li>
    <li><a href="#"><img src="images/social_ic2.png"></a></li>
    <li><a href="#"><img src="images/social_ic3.png"></a></li>
    <li><a href="#"><img src="images/social_ic4.png"></a></li>
</ul>
<div class="bot2">
  <div class="tola">
                  
                  <div id="jquery_jplayer" class="jp-jplayer"></div>

    <!-- Using the cssSelectorAncestor option with the default cssSelector class names to enable control association of standard functions using built in features -->

    <div id="jp_container" class="jp-audio">
          <ul class="jp-controls">
            
            <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">SOUND: <span>ON</span></a></li>
            <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">SOUND: <span>OFF</span></a></li>

      </ul>            

    </div>
</div>
<a href="#!/page_PRIVACY" class="privacy">Privacy policy</a>
<div class="clear"></div>  
<div class="copyright">Copyright © 2023. All rights reserved.</div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</footer>







</div>

<div class="bot1"><div class="px2"></div></div>





</div>
<script>
  let bd = document.body
 
  bd.addEventListener('click',()=>{
    let jp_aud = document.querySelectorAll('#jp_audio_0')
    jp_aud[0].volume -= 0.8
    console.log(jp_aud)
   
 
  })
 
</script>
</body>
</html>
